{% block flashes %}
    {% for message in flash_bag.get('admin_success') %}
        <div class="notice notice-success" role="alert">
            <p>
                <strong>{{ message }}</strong>
            </p>
        </div>
    {% endfor %}
    {% for message in flash_bag.get('admin_error') %}
        <div class="notice notice-error" role="alert">
            <p>
                <strong>{{ message }}</strong>
            </p>
        </div>
    {% endfor %}
{% endblock %}

{% block admin_content %}{% endblock %}
